# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test Different Action of GitHub Action
on:
  push:
    branches:
      - 'main'

jobs:
  cypress-test:
    name: Run on Chrome 97
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.19.0-chrome86-ff82
    strategy:
      fail-fast: false
      matrix:
        containers: [1]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install cypress and verify
        run: |
          npm ci
          $(npm bin)/cypress verify
      - name: Cypress run
        run: npm run Cypress-All
        continue-on-error: true          
          
      - name: Generate Allure report
        run: npm run AllureReport

      - name: Copy test execution videos, screenshots and reports
        run: |
          mkdir public
          cp -r cypress/videos public/videos
          cp -a allure-report/. public
          cp -r allure-results public/allure-results
      - name: Deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./public

