# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test Different Action of GitHub Action
on:
  push:
    branches:
      - 'main'

jobs:
  cypress-test:
    name: Run on Chrome 97
    runs-on: ubuntu-latest
   # container: cypress/browsers:node12.19.0-chrome86-ff82
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3]
    steps:
      - uses: actions/checkout@v2
      - name: Check Cypress cache
        run: |
            npx cypress cache path
            npx cypress cache list
      - name: restore / cache the binary
        id: cache-cypress
        uses: actions/cache@v1
        with:
            path: ~/.cache/Cypress
            key: >-
                cypress-cache-v2-${{ runner.os }}-${{ hashFiles('**/package.json')
                }}
      - name: Install cypress and verify
        run: |
          npm ci
          $(npm bin)/cypress verify
      - name: Install Edge Browser
        run: |
          curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
          sudo install -o root -g root -m 644 microsoft.gpg /etc/apt/trusted.gpg.d/
          sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/edge stable main" > /etc/apt/sources.list.d/microsoft-edge-dev.list'
          sudo rm microsoft.gpg
          sudo apt update
          sudo apt install microsoft-edge-dev
      - name: Cypress run Edge
        uses: cypress-io/github-action@v2
        with:
          config-file: cypress/integration/Config.json
          spec: cypress/integration/*/*.feature
          browser: edge
          parallel: true
          record: true
        env:
          allure: true
          TAGS: '@Smoke'
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }} 
      

     

