# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test Different Action of GitHub Action
on:
  push:
    branches:
      - 'main'

jobs:
  cypress-test:
    name: Parallel Testing
    runs-on: ubuntu-latest
   # container: cypress/browsers:node12.19.0-chrome86-ff82
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Check Cypress cache
        run: |
            npx cypress cache path
            npx cypress cache list
      - name: restore / cache the binary
        id: cache-cypress
        uses: actions/cache@v1
        with:
            path: ~/.cache/Cypress
            key: >-
                cypress-cache-v2-${{ runner.os }}-${{ hashFiles('**/package.json')
                }}
      - name: Install cypress and verify
        run: |
          npm ci
          $(npm bin)/cypress verify

      - name: Cypress run Chrome
        uses: cypress-io/github-action@v2
        with:
          config-file: cypress/integration/Config.json
          spec: cypress/integration/*/*.feature
          browser: chrome
          tag: Smoke
          parallel: true
          record: true
        env:
          allure: true
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
      - name: Generate Allure report
        if: always()
        uses: QuintilianoNery/action-allure-report-V2@0.2.0

      - name: Commit report results
        if: always()
        run: |
            git config --local user.email "barikranjit461@gmail.com"
            git config --local user.name "Ranjit005"
            git add allure-report -f
            git add allure-results -f
            git commit -m "[chore] autogenerate Allure report" -a
      - name: Push changes
        if: always()
        uses: ad-m/github-push-action@master
        with:
            github_token: '${{ secrets.GITHUB_TOKEN }}'
            force: true

